<h3>Hi <%= @user.full_name %>,</h3>
<p class="lead">Selamat datang di Gadup.</p>
<p>Kamu telah berhasil membuat akun di <a href="http://gadup.co.id">gadup.co.id</a>,
dengan email: <%= @user.email %>.<br></p>

<p class="callout">
Untuk konfirmasi akun baru, silahkan buka tautan: <%= link_to 'Konfirmasi Email', confirm_email_v1_user_url(@user.confirmation_token) %>
</p>

<p>Terima kasih telah bergabung dan semoga harimu menyenangkan!</p>
