<%= render template: "component/_headers"%>

<div class='row'>
    <div class='dashboard-container col-md-9 col-lg-9 col-sm-9 col-xs-12'>
        <div class='dashboard-header'>
            <h2 class='dashboard-header-context'> Dashboard <small> Statistic Overview </small></h2>
        <!-- div .dashboard-head -->
        </div>

        <div id='dashboard-wallet-news'>
            <div class='head-content'>
                <h3> My Wallet </h3>
            </div>
        </div>
    <!-- div #dashboard-container -->
    </div>

    <div class='dashboard-container col-md-3 col-lg-3 col-sm-3 hidden-xs'>
        <div class='head-content'>
            <h3 align='center'> News </h3>
        </div>
        <div class='news-content'>
            <% @entries_array.each do |entries| %>
                <div class='row'>
                    <% entries.each do |entry| %>
                        <div class='col-md-6 col-lg-6 col-sm-6'>
                          <%=image_tag "#{entry.image_url}", class: "news-image"%>


                          <div class='entry-column'>
                              <%= link_to entry.entries_url, class: 'news-title', target: '_blank' do %>
                                  <h4><%= entry.title %></h4>
                              <% end %>
                          </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    <!-- div #dashboard-news -->
    </div>
</div>
