<%= render template: "api/v1/component/_headers"%>

<div id='dashboard-container' class='col-md-10 col-sm-10 col-lg-10 col-xs-12 col-md-offset-1 col-sm-offset-1 col-lg-offset-1'>
    <div class='dashboard-header'>
        <h2 class='dashboard-header-context'> DASHBOARD <small> Statistic Overview </small></h2>
    <!-- div .dashboard-head -->
    </div>
    <div class='row'>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-primary'>
                <div class="panel-heading">
                    <i class="fa fa-building panel-icons" aria-hidden="true"></i>
                    Favorite Places
                </div>
                <div class="panel-body">
                  <a href='#'>
                    View Details
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>
                </div>
            <!-- div .panel panel-primary -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-green'>
                <div class="panel-heading">
                    <i class="fa fa-diamond panel-icons" aria-hidden="true"></i>
                    My Incomes
                </div>
                <div class="panel-body">
                  <a href='#'>
                    View Details
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>
                </div>
            <!-- div .panel panel-green -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-yellow'>
                <div class="panel-heading">
                    <i class="fa fa-external-link panel-icons" aria-hidden="true"></i>
                    My Spendings
                </div>
                <div class="panel-body">
                  <a href='#'>
                    View Details
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>
                </div>
            <!-- div .panel panel-primary -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
        <div class='col-md-6 col-sm-6 col-lg-3 col-xs-12'>
            <div class='panel panel-black'>
                <div class="panel-heading">
                    <i class="fa fa-balance-scale panel-icons" aria-hidden="true"></i>
                    Wallet Settings
                </div>
                <div class="panel-body">
                  <a href='#'>
                    View Details
                    <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i>
                  </a>
                </div>
            <!-- div .panel panel-primary -->
            </div>
        <!-- div .col-md-6 col-lg-3 col-xs-12 -->
        </div>
    <!-- div .row -->
    </div>
    <div id='dashboard-wallet'>
        <div id='wallet-summary'>
            <div class='select-date'>
                <%@this_week.each do |date| %>
                    <% if date == Date.today %>
                        <a class='current' href='#'>
                          Today
                        </a>
                    <% else %>
                        <a href='#'>
                          <%= date %>
                        </a>
                    <% end %>

                <% end %>
            </div>
            <div class='col-md-6 col-lg-6 col-sm-12 col-xs-12'>
            </div>
            <div class='col-md-6 col-lg-6 col-sm-12 col-xs-12'>
            </div>
        <!-- div #wallet-summary -->
        </div>
        <div class='col-md-6 col-lg-6 col-sm-12 col-xs-12'>
            <div class='container'>

            <!-- div .container -->
            </div>
        </div>
    <!-- div #dashboard-wallet -->
    </div>
<!-- div #dashboard-container -->
</div>
