// PART 1 STYLES FOR _HEADERS.HTML.ERB
#header {
    list-style-type: none;
    margin: 0;
    background-color: #fff;
    padding-bottom: 6px;
    border-bottom: 1px solid #BACCD6;
}

.main-links {
  display: inline-block;
  vertical-align: 0px;
}

.main-links a {
  color: black;
  margin-right: 20px;
}

.main-links a:hover {
  color: black;
  text-decoration: none;
}

.left-header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.right-header{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}

.branding {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.branding a{
  margin-right: 100px;
}

.notif-dropdown a, .user-dropdown a {
  padding: 0 10px 0 12px;
  vertical-align: middle;
  font-size: 15px;
  color: black;
}



.notif-dropdown, .user-dropdown {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-menu li a {
  font-size: 13px;
}

.mobile-dropdown {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.mobile-dropdown {
  border: 1px solid #379ED7;
  border-radius: 3px;
  color: #379ED7;
  padding: 5px 8px 3px;
}

// headers none display for non-mobile
@media (min-width: 768px) {
   .mobile-dropdown {
    display: none;
  }
}

// headers style for mobile only
@media (max-width: 768px) {
  .branding {
    margin-right: 0px;
  }
}


// PART 2 STYLES FOR _DASHBOARDNAV.HTML.ERB
.dashboard-menu {
  list-style: none;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: table-cell;
  margin: 0;
  background-color: #1D5574;
  position: fixed;
  height: 100%;
}

.dashboard-menu li a {
  color: #9d9d9d;
  font-size: 15px;
  display: block;
  padding: 10px 85px 25px 15px;
}

.dashboard-menu li a:hover:not(.navbar-active) {
    color: #fff;
    text-decoration: none;
}

.navbar-active {
  color: #9d9d9d;
}

.dashboard-menu li:hover {
  background-color: #103042;
}


// PART 3 ADMIN HEADER
#admin-brand {
  margin-right: 50px !important;
}

.admin-links a {
  padding-right: 50px !important;
}

// PART 4 FOOTER
#footer {
  color: white;
  margin-top: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: left;
  background: #233259;
}

.footer-col-small, .footer-col-big, .footer-col-connect {
  float: left;
  width: 25%;
  margin-right: 20px;
}

.footer-col-big {
  width: 50%;
}

.footer-col-small {
  width: 25%;
}

.footer-col-connect{
  width: 25%;

}

.footer-col-connect__content{
  padding: 10px;
}

.footer-title {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  width: auto;
}

.footer-content {
  color: #b2b2b2;
  font-size: 15px;
  line-height: 23px;
}

.box {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  border: 2px solid #b2b2b2;
  padding: 15px;
}

.mobile-app {
  width: 110px;
  height: 40px;
}

.social-icon{
  width: 24px;
  height: 24px;
}


// _public_header
.btn-header{
  margin-left: 150px !important;
  background: #00b0f0;
  margin-right: 0px !important;
  max-width: 150px;
}

.btn-header:hover {
  background: white !important;
}

.btn-header a:hover {
  color: #00b0f0 !important;
}
