// PART 1 STYLES FOR _HEADERS.HTML.ERB
#header {
    list-style-type: none;
    margin: 0;
    background-color: #1D5574;
    padding-bottom: 6px;
}

.dropdown a:hover:not(.active) {
    color: #A2D4F0;
    text-decoration: none;

}

.active {
    color: #379ED7;
}

.left-header {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.right-header{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;

}

.branding {
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.branding a{
  margin-right: 100px;
}

.notif-dropdown a {
  padding: 0 10px 0 12px;
  vertical-align: middle;
  font-size: 18px;
  color: #379ED7;
}

.user-dropdown a {
  padding: 0 10px 0 12px;
  vertical-align: middle;
  font-size: 18px;
  color: #379ED7;
}

.notif-dropdown, .user-dropdown {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-menu li a {
  font-size: 13px;
}

.mobile-dropdown {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}

.mobile-dropdown {
  border: 1px solid #379ED7;
  border-radius: 3px;
  color: #379ED7;
  padding: 5px 8px 3px;
}

// headers none display for non-mobile
@media (min-width: 768px) {
   .mobile-dropdown {
    display: none;
  }
}

// headers style for mobile only
@media (max-width: 768px) {
  .branding {
    margin-right: 0px;
  }
}


// PART 2 STYLES FOR _DASHBOARDNAV.HTML.ERB
.dashboard-menu {
  list-style: none;
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: table-cell;
  margin: 0;
  background-color: #1D5574;
  position: fixed;
  height: 100%;
}

.dashboard-menu li a {
  color: #9d9d9d;
  font-size: 15px;
  display: block;
  padding: 10px 85px 25px 15px;
}

.dashboard-menu li a:hover:not(.navbar-active) {
    color: #fff;
    text-decoration: none;
}

.navbar-active {
  color: #9d9d9d;
}

.dashboard-menu li:hover {
  background-color: #103042;
}
