// PART 1 ENTRIES#INDEX
.trending-news {
  margin-top: 100px;
  height: 300px;
}

.trending-image {
  height: 300px;
  width: 100%;
}

.entry-info {
  margin-bottom: 10px;
}

.trending-news h2 {
  margin-top: 0px;
}

.trending-title {
  font-weight: 500;
  color: black;
  width: inherit;
}

.trending-title:link {
  text-decoration: none;
}

.trending-title:hover {
  color: #233259;
}

.news {
  margin-top: 50px;
}

.author {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .each-entry {
    padding: 17px 0 50px;
    min-height: 333px;
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 31.333%;
    margin: 0 1%;
  }
}

@media only screen and (max-width: 480px) {
  .each-entry {
    max-width: 313px;
    padding: 18px;
    margin: auto;
    position: relative;
  }
  .news {
    margin-top: 20px;
  }
}

.image-entry {
  width: 100%;
  height: 100%;
}

.entry-content p {
  color: #444;
  font-size: 13px;
  line-height: 2rem;
  font-weight: normal;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


// PART 2 ADMIN_EDIT.HTML.ERB
#entries-edit__container {
  margin-top: 75px;
  border: 1px solid black;
  border-radius: 5px;
}

.header-container {
  text-align: center;
}

.content-container {
  margin-top: 30px;
}

.image-edit {
  height: 100%;
  width: 100%;
}
