body {
  background-color: #808080;
}

body, html {
  height: 100%;
  margin: 0;
}

#welcome-user {
  // background: url('welcome-user-background.jpg');
  background: white;
  background-size: cover;
}


#admin-layout  {
  background-color: #eeeeee;
}

#user-layout {
  background-color: #BACCD6;
}
