#dashboard-head-container {
  margin-top: 40px;
  background: #fff;
  border: solid 1px #fff;
  padding: 25px 40px;
}

.info-container h3{
  margin-top: 0px;
  margin-bottom: 5px;
}
.user-time__join {
  font-size: 13px;
  color: #adadad;
  font-weight: 500px;
}

.profpic-container {
  padding-right: 10px;
}

.info-container {
  padding-left: 10px;

  p small {
    color: #7f8fa4;
  }
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.basic-result {
  p {
    text-align: center;
  }
  h4 {
    text-align: center;
    letter-spacing: 1px;
  }
}

.balance-cont {
  margin-top: 25px;
}

.btn-wallet-search{
  clear: both;
  float: none !important;
}

.wallet-content {
  margin-top: 50px;
  margin-bottom: 30px;

  a:hover {
    text-decoration-line: none;
  }
}

.wallet-content__each_right, .wallet-content__each_center, .wallet-content__each_left {
  background: #fff;
  border: solid 1px #e6eaee;
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 32%;
}

.wallet-content__each_right {
  margin-left: 1%;
}

.wallet-content__each_left {
  margin-right: 1%;
}

.wallet-content__each_center {
  margin: 0 1%;
}

.wallet-content__desc, .wallet-content__footer {
  padding: 5px 15px;
  border-top: 1px solid #e6eaee;
  border-bottom: 1px solid #e6eaee;
  color: #7f8fa4;
  background: #fbfbfb;
  font-size: 12px;

  p {
    margin: 0px !important;
  }
}

.wallet-content__head{
  padding: 5px 15px;

  h4, a {
    display: inline-block;
  }
}

.wallet-content__body {
  padding: 5px 15px;
  padding-bottom: 0px !important;
}

.wallet-content__body_each {
  padding: 20px 0px;
  border-bottom: 1px solid #e6eaee;

  h5 {
    margin: 0px !important;
    text-align: center;
  }

  p {
    font-size: 13px;
    letter-spacing: 1px;
    color: #7f8fa4;
    height: 100%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  .content-column_med {
    width: 25%;
  }

  .content-column_big {
    width: 50%;
  }

  .content-column_big, .content-column_med {
    height: inherit;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.wallet-content__footer{
  h5 {
    text-align: right;
    letter-spacing: 1px;
  }
}


.panel-green{
  border-color: #5cb85c !important;
}

.panel-yellow {
  border-color: #f0ad4e !important;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-icons {
  font-size: 35px !important;
}

.panel-body {
  padding: 0px !important;
}

.panel-body a {
  padding: 15px;
  display: block;
  text-decoration: none !important;
}

.panel-body:hover {
  background-color: #B2B1B1;
}

.panel-green .panel-body a{
  color: #5cb85c;
}

.panel-yellow .panel-body a{
  color: #f0ad4e;
}


// PART 2 USER SHOW AND EDIT PAGE
.body-header {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.user-picture {
  border-radius: 50%;
  height: 150px;
  width: 150;
}

.user-full-name {
  font-size: 17px;
  margin-bottom: 2px;
  margin-top: 15px;
}

.split-form-right {
  padding-right: 0px !important;
  padding-left: 7px !important;
}

.split-form-left {
  padding-left: 0px !important;
  padding-right: 7px !important;
}
