#dashboard-head-container {
  margin-top: 80px;
  background: #fff;
  border: solid 1px #fff;
  padding: 25px 40px;
}

.personal-info div {
  float: left;
  clear: none;
}

.info-container h3{
  margin-top: 0px;
  margin-bottom: 5px;
}
.user-time__join {
  font-size: 13px;
  color: #adadad;
  font-weight: 500px;
}

.profpic-container {
  padding-right: 10px;
}

.info-container {
  padding-left: 10px;
}

.profile-picture {
  width: 150px;
  height: 150px;
}

.panel-green{
  border-color: #5cb85c !important;
}

.panel-yellow {
  border-color: #f0ad4e !important;
}

.panel-green .panel-heading {
  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;
}

.panel-yellow .panel-heading {
  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;
}

.panel-icons {
  font-size: 35px !important;
}

.panel-body {
  padding: 0px !important;
}

.panel-body a {
  padding: 15px;
  display: block;
  text-decoration: none !important;
}

.panel-body:hover {
  background-color: #B2B1B1;
}

.panel-green .panel-body a{
  color: #5cb85c;
}

.panel-yellow .panel-body a{
  color: #f0ad4e;
}


// PART 2 USER SHOW AND EDIT PAGE
.body-header {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.user-picture {
  border-radius: 50%;
  height: 150px;
  width: 150;
}

.user-full-name {
  font-size: 17px;
  margin-bottom: 2px;
  margin-top: 15px;
}

.split-form-right {
  padding-right: 0px !important;
  padding-left: 7px !important;
}

.split-form-left {
  padding-left: 0px !important;
  padding-right: 7px !important;
}
