// PART 1 WELCOME#SHOW
#welcome-user-action {
  margin-top: 50px;
}

#welcome-edit-container {
  margin-top: 50px;
}

.logo-standard {
  width: 10%;
  height: 10%;
}

#logo-container {
  margin-top: 80px;
}

.panel-blue {
  border-color: #379ED7 !important;
}

.btn-blue:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-blue {
    color: #fff;
    background-color: #379ED7;
    border-color: #379ED7;
}

#user-form-edit {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

// PART 2 WELCOME#INDEX
.hero-image {
  background-image: linear-gradient( rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23) ), url("welcome-user-background.jpg");
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome-header {
  padding-top: 10px;
  padding-left: 150px;
}

.navbar-header {
  margin-right: 150px !important;
}

@media only screen and (max-width: 480px) {
  .navbar-header {
    margin-right: 100px !important;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
  }
}

.header-links {
  vertical-align: middle;
  margin-right: 10px;
}

.header-links a {
  padding-right: 70px;
  padding-left: 20px;
  font-size: 15px;
  font-family: 'proxima-nova-bold', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.header-links a {
  color: #fff;
  margin-right: 50px;
}

.clearNav {
  background-color: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ffffff !important;
}

.darkNav {
  border-bottom: 1px solid #233259 !important;
  background-color: #233259 !important;
}



.header-links a:hover {
  text-decoration: none;
  color: #fff !important;
  background-color: transparent !important;
}

.hero-text {
  text-align: center;
  position: absolute;
  color: white;
  padding-top: 170px;
}

#welcome-entries {
  margin-top: 40px;
}

.title-entry__container a {
  color: black;
}

.image-entry__container {
  height: 160px;
}

.welcome-entry a:hover {
  text-decoration: none;
}

.welcome-image-entry {
  width: 100%;
  height: 100%;
}

.info-entry {
  font-size: 15px !important;
  color: #337ab7 !important;
}

@media only screen and (min-width: 768px) {
  .welcome-entry {
    padding: 17px 0 50px;
    min-height: 333px;
    position: relative;
    box-sizing: border-box;
    float: left;
    width: 23%;
    margin: 0 1%;
  }
}

@media only screen and (max-width: 480px) {
  .each-entry {
    max-width: 313px;
    padding: 18px;
    margin: auto;
    position: relative;
  }
  .news {
    margin-top: 20px;
  }
}

.btn-more__news{
  width: 100%;
  margin-bottom: 35px;
}

#why-us {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-element {
  font-family: 'proxima-nova-bold', "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  color: #18233e;
  text-align: center;
  margin-top: 80px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.body-element {
  align-text: center;
  margin-top: 80px;
}

.why-us-trial {
  height: 50%;
  width: 50%;
  margin-bottom: 40px;
}

.each-element {
  align-text: center;
}
